html, body {
    margin: 0;
    background-color: maroon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.header {
    height: 20vh;
    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px; 
}

.logo {
    height: 10vh; 
}

.title {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.navBar {
    color: white;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    gap: 48px;

    overflow: hidden;
}

.navLinks {
    color: white;
    font-size: 18px;
    font-weight: bold;

    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.navBar button.active {
    background-color: rgb(1, 83, 1);
    padding: 24px; 
}

#content {
    height: 80vh;
    background: url('./pizza.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden; 
}

.mainContainer {
    background-color: whitesmoke; 
    width: 60vw; 

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 0px 10px 10px;
    padding-bottom: 48px; 
}

.intro,
.orderNow,
.operatingHours,
.contact,
.greeting,
.phone,
.email,
.socialDialog,
.specialsDialog,
.specialsContainer,
.toppingsDialog,
.toppingsContainer {
    font-size: 24px;
    font-weight: bold;
    margin: 24px 48px; 
} 

.orderNow {
    height: 64px;
    width: 360px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 24px;

    background-color: green;
    border-radius: 12px;
}

.specialsContainer,
.toppingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.toppings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialLinks {
    height: 128px;
}
